.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  width: 200px;
  height: 200px;
  margin: 1rem;
}

.circleContainer {
  width: 200px;
  height: 200px;
  background-color: #ddd;

  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.semicircle {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
}
.semicircle:nth-child(1) {
  background-color: #088b8b;
  z-index: 2;
}
.semicircle:nth-child(2) {
  background-color: #088b8b;

  z-index: 3;
}
.semicircle:nth-child(3) {
  background-color: #ddd;
  z-index: 4;
  /*display: none;*/
}
.outmostCircle {
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 50%;
  z-index: 5;
  /*display: none;*/
}

.textContainer {
  z-index: 6;
  font-size: 1.7rem;
}
