.container {
  background-color: lightgray;
  color: black;
  border: 1px solid black;
  margin: 1rem auto;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 1.7rem;
}

.controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
