.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

aside {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
